<legend>Default Name for Comments</legend>
<p>Select the user you want to use pr. default to comment (You can still select user when you post a comment)</p>
<form class="well" name="commentchar" method="post" action="/account/comments/">
    <fieldset>
        <table class="table table-condensed">
            <tbody class="pull-left">
                <tr>
                    <td><select name="defaultcommentcharacter">
                        {% for data in data.cmtChars %}
                        {% set selected = "" %}
                        {% if data.characterID == defaultCommentCharacter %}{% set selected = "selected"%}{% endif %}
							<option value="{{ data.characterID }}" {{ selected }}>{{ data.characterName }}</option>
                        {% endfor %}
						</select></td>
                    <td><input type="submit" class="btn btn-primary" value="Select Character"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>