Preamble
1. The purpose of this page is to ensure the quality of the zKillboard service for its customers. And to preserve the reliability of this service

General Rules
1. Failure to comply with any of the regulations in this subcategory will result in the immediate termination of your service
2. Adding any mail that is invalid, fake or otherwise not accurate, is NOT allowed
3. Editing or changing any mail with the purpose of altering its original accuracy is not allowed
4. Any intentional action that by any means interrupts the service of zKillboard is prohibited
5. Accessing the API for the purpose of causing increased load on the server is not allowed, and will result in an IP ban from the service
6. Using the zKillboard database and API for the purpose of datamining, in an attempt to gain an unfair advantage over corporations and/or alliances, is not allowed
7. Placing commercial advertisements, be it links, images or any other form, into any part of the site, is not allowed

Obligations
1. Items listed in this section are guaranteed by zKillboard as a term of service.
2. Under no circumstances is a refund guaranteed by zKillboard. Refunds, however, may be administered at the discretion of the killboard administrators.
3. zKillboard will not release API keys, emails or passwords to the public, or anyone else without prior consent of the account holder.
