body {
	padding-bottom: 25px;
}

.centered { vertical-align:middle; text-align:center; }
.centered img { display:block; margin:0 auto; }

.eveimage { background-color: #222; max-width:100%; height:auto; overflow: hidden; font-size: 0.1px;}

#back-top {
	position: fixed;
	bottom: 50px;
	margin-left: -65px;
}

#back-top a {
	width: 55px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #444;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #999;
}

/* arrow icon (span tag) */
#back-top span {
	width: 55px;
	height: 60px;
	display: block;
	margin-bottom: 7px;
	background: url(/img/up-arrow.png) no-repeat center center;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

.accordion-group {
  margin-bottom: 0px;
  border: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
.accordion-inner{
    padding:0px 0px;
    border-top:0px solid #e5e5e5;
}

#left-banner {
position: fixed;
top: 70px;
left: 5px;
z-index: 0;
cursor: pointer;
width: 160px;
}

#right-banner {
position: fixed;
top: 70px;
right: 5px;
z-index: 9500;
cursor: pointer;
width: 160px;
}

.facebook{
	background: url("/img/social/fb_1.png") no-repeat center center;
}
.twitter {
	background: url("/img/social/twitter_1.png") no-repeat center center;
}
.googleplus {
	background: url("/img/social/google_plus.png") no-repeat center center;
}
.reddit {
	background: url("/img/social/reddit.png") no-repeat center center;
}

.rank-table tr td, .rank-table tr th {
	text-align: right;
}

.collapse {
overflow: hidden !important;
}

.footer {
	margin-top: 20px;
	padding-top: 20px;
}

// also hide the stuff from ladscape ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {	
	.hidden-tablet {
		display: none;
	}
}

ul.autocomplete { width: 375px; }
ul.autocomplete img { position: absolute; top: 4px; left: 4px; }
ul.autocomplete a { position: relative; padding: 10px 2px 0px 40px; height: 30px; }
ul.autocomplete span { position: absolute; top: 8px; right: 5px; }


#addentity label { margin-right: 15px; }
#addentity h3 { display: inline-block; }

[rel=tooltip] + div.tooltip {
	/* prevent hover loop when a tooltip is shown above its triggering element */
	pointer-events: none;
}

/* /map/ specific css */
#killmap_render { position: absolute; top: 0px; left: 0px; z-index: 1; } 
#killmap_history { position: absolute; top: 60px; left: 10px; z-index: 2002; }
#killmap_history ul { list-style-type: none; padding: 0px; margin: 0px; line-height: 14px !important; }
#killmap_history ul li { font-size: 11px; color: #666666; margin: 0px; padding: 0px; }
#killmap_history ul li.bold { font-weight: bold; }
#killmap_controls { position: absolute; top: 60px; right: 10px; z-index: 2002; }
#killmap_zenmode { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: #000000; z-index: 2000; display: none; }
