<legend>My Information</legend>
<table class="table table-striped table-bordered">
	<tbody>
		<tr><td>Username</td><td>{{ data.userInfo.username }}</td></tr>
		<tr><td>eMail</td><td>{{ data.userInfo.email }}</td></tr>
		<tr><td>Date Registered</td><td>{{ data.userInfo.dateCreated }}</td></tr>
		<tr><td>Default Comment Character</td><td>{{ defaultCommentCharacter }}</td></tr>
	</tbody>
</table>

<legend>My API characters</legend>
<table class="table table-striped table-bordered">
	<tbody>
	{% for data in data.apiChars %}
		<tr><td><a href="/character/{{ data.characterID }}/">{{ data.characterName }}</a></td></tr>
	{% endfor %}
	</tbody>
</table>