<legend>Themes</legend>
<form class="well" name="themes" method="post" action="/account/sitesettings/">
    <fieldset>
        <table class="table table-condensed">
            <tbody class="pull-left">
                <tr>
                    <td><select name="theme">
                        {% for theme in data.themes %}
	                        {% set selected = "" %}
       		                {% if theme == sessiontheme %}{% set selected = "selected"%}{% endif %}
       	        	        <option value="{{ theme }}" {{ selected }}>{{ theme }}</option>
                        {% endfor %}
                        </select></td>
                    <td><input type="submit" class="btn btn-primary" value="Select Theme"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>

<legend>Show Condensed Timestamps</legend>
<p>Will replace all killlist timestamps with Facebook style timestamps, instead of saying "2012-11-01 12:00:00" it will say "2 hours ago" or "3 months ago" or "4 years ago" etc.</p>
<form class="well" name="turnonofftimestamps" method="post" action="/account/sitesettings/">
    <fieldset>
        <table class="table table-condensed">
            <tbody class="pull-left">
                        <tr>
                            <td>   
                                <select name="timeago">
                                    <option value="true" {% if data.timeago == "true" %}selected{% endif %}>On</option>
                                    <option value="false" {% if data.timeago == "false" %}selected{% endif %}>Off</option>
                                </select>
                            </td>
                        </tr>
            <tr><td><input type="submit" class="btn btn-primary" value="Turn On/Off"></td></tr>
            </tbody>
        </table>
    </fieldset>
</form>

<legend>Turn off ads</legend>
<p>You can only turn off ads, if you send isk to your wallet, you can see how to do that under the Wallet tab</p>
show something to turn them off here..
