body {
	background-color: #060606;
	background-image: url("https://zkillboard.com/img/bg_cyborg_blueish.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.nobackground {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background: #060606;
	background-color: rgba(6,6,6,0.9);
	box-shadow: 0 0 15px 15px rgba(6,6,6,0.9);
	opacity: 0.95;
}

.table tbody tr.error td
{
  background-color: #3F0606;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
color: black;
 }

.item_dropped_row {
	background-color: #093609; 
}
.item_dropped {
	color: white;
}
.item_dropped_qty {
	color: white;
}
.item_destroyed, .red {
	color: #800000;
}
.green {
	color: green;
}

.table-no-hover tbody tr:hover td, .table tbody tr:hover th {
	background-color: transparent;
}

.alert-danger {
	background-color: #800000;
}
