{% extends "base.html" %}

{% block title %}zKillboard.com / Forgot Password{% endblock %}

{% block content %}
{% if message %}
	<div class="alert alert-{{ messagetype }} centered">
	<p>{{ message }}</p>
	</div>
{% endif %}
<h1>Forgot Password</h1>
<form class="well" name="registration" method="post" action="/forgotpassword/">
	<fieldset>
		<div class="clearfix">
			<div class="input">
				<input id="email" name="email" type="email" required placeholder="email">
			</div>
		</div>
			<div class="actions">
			<input type="submit" value="Send Email" class="btn primary" />
		</div>
	</fieldset>
</form>
{% endblock %}