                                <table class="table well-small table-condensed table-striped table-hover" style="width: 100%">
                                        <thead>
                                                <tr class="titles">
                                                        <th colspan="2" class="hidden-tablet hidden-phone">&nbsp;</th>
														<th class="hidden-desktop hidden-phone">&nbsp;</th> <!-- only shows on tablets-->
														<th>&nbsp;</th>
														<th class="pull-right">Damage</th>
                                                </tr>
                                        </thead>
                       {% for attacker in attackList %}
                        {% set field = attacker %}
                        <tr class="attacker">
							<td style="width: 64px;">
								{% set imageSize = 64 %}
								{% include 'components/image_char.html' %}
							</td>
							<td class="hidden-phone hidden-tablet" style="width: 32px;">
								{% set imageSize = 32 %}
								{% include 'components/image_ship.html' %}
								{% if attacker.weaponTypeID == 0 %}
									{% include 'components/image_ship.html' %}
								{% else %}
									{% include 'components/image_item.html' %}
								{% endif %}
							</td>
                            <td class="pilotinfo">
                                {% set field = attacker %}
                                {% set shortLength = 25 %}
                                {% include 'components/text_char.html' %}<br/>
                                {% include 'components/text_corp.html' %}<br/>
                                {% include 'components/text_alli.html' %}
                                {% set shortLength = 30 %}
                            </td>
                            <td class="damage">
                                <div class="pull-right" style="text-align: right;">
                                    {{ attacker.damage|number_format(0) }}<br/>
                                    {% if attacker.damage > 0 and killdata.victim.damage > 0 %}
                                        <small>{{ ((attacker.damage / killdata.victim.damage) * 100)|number_format(1) }}%<small>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
