<div class="pull-left span5">
	<h4 style="text-align: center;">{{ topTitle }}</h4>
	{% for data in topSet %}
		<div style="text-align: center; margin-right: 5px; width: 85px;" class="pull-left">
		{% set imageSize = 64 %}
		{% set field = data.victim %}
		{% set shipImageLinkOverride = data.info.killID %}
		{% include 'components/text_ship.html' %}<br/>
		{% include 'components/image_ship.html' %}
		{% if showPoints %} {{ data.info.points | number_format(0) }} Points
		{% else %}{{ formatIsk(data.info.total_price) }} ISK
		{% endif %}
		<br/>
		{% include 'components/text_char.html' %} 
		</div>
	{% endfor %}
</div>
