<div class="kb-kills-header">{{ topTitle }}</div>
<table width="100%" style="font-size: 10px;">
<tr>
{% for data in topSet %}
<td align="center">
{% set imageSize = 64 %}
{% set field = data.victim %}
{% set shipImageLinkOverride = data.info.killID %}
{% include 'components/text_char.html' %}
<br>
{% include 'components/image_ship.html' %}
<br>
{% include 'components/text_ship.html' %}
<br>
{% if showPoints %}
{{ data.info.points | number_format(0) }} Points
{% else %}
{{ formatIsk(data.info.total_price) }} ISK
{% endif %}
</td>
{% endfor %}
</tr>
</table>
