{% set blockSize = 400 %}
{% set wheelSize = blockSize - 32 %}
{% set diff = (blockSize - wheelSize) / 2 %}
{% set imageSize = 32 %}
{% set fitting = extra.fittingwheel %}
{% set eveImageClass = false %}

<div id="Fitting_Panel" style="position:relative; width: {{blockSize}}px; height: {{blockSize}}px; margin: 0px;">
{% if fitting | length %}
<div id="mask" style="position:absolute; left: {{diff}}px; top: {{diff}}px; height: {{wheelSize}}px; width: {{wheelSize}}px; z-index:1; margin: 0px;">
	<img style="position:absolute; border:0px; height: {{wheelSize}}px; width: {{wheelSize}}px;" src='/img/panel/circle.png'/>
</div>

<div id="mods" style="margin: 0px; position: absolute; left: {{ wheelSize / 2}}px; top: {{ wheelSize / 2}}px;">
{% set base = 5 %}
{% set location = fitting.low %}
{% include 'components/fws.html' %}

{% set base = 21 %}
{% set location = fitting.high %}
{% include 'components/fws.html' %}
{% include 'components/fwc.html' %}

{% set base = 29 %}
{% set location = fitting.mid %}
{% include 'components/fws.html' %}
{% include 'components/fwc.html' %}

{% set base = 18 %}
{% set location = fitting.rig %}
{% include 'components/fws.html' %}
{% set base = 13 %}
{% set location = fitting.sub %}
{% include 'components/fws.html' %}
</div>
{% endif %}

<div id="bigship" style="position:absolute; left: {{diff}}px; top: {{diff}}px; z-index:0; margin: 0px;">
        {% set imageSize = 512 %}
        {% set resizeImage = wheelSize %}
        {% set field = killdata.victim %}
        {% include 'components/image_ship.html' %}
</div>

</div>
<center>Proof of concept.  Fitting wheel still incomplete.</center>
{% set eveImageClass = true %}
