{% if detail.characterName %}{% set name = detail.characterName %}
{% elseif detail.corporationName %}{% set name = detail.corporationName %}
{% elseif detail.allianceName %}{% set name = detail.allianceName %}
{% elseif detail.factionName %}{% set name = detail.factionName %}
{% elseif pageName %}{% set name = pageName %}{% endif %}

{% if detail.aticker %}{% set ticker = ' <' ~ detail.aticker ~ '>' %}{% endif %}
{% if detail.cticker %}{% set ticker = ' [' ~ detail.cticker ~ ']' %}{% endif %}

{% if key != '' %}
{% set field = detail %}
<h2><small>{{ firstUpper(key) }}:</small> {{ name }} <font style='font-size: 60%'>{{ ticker }}</font></h2>
{% else %}
<h2><small>Overview for</small> {{ name }}</h2>
{% endif %}

<div class="row" style="margin: 0px;">
	<div class="pull-left">
		{% include 'components/info_top_image.html' %}
	</div>
	<div itemscope class="pull-left">
		{% if not detail.groupShips %}
        <table class="table table-condensed table-striped table-hover pull-left">
		<tbody>
            {% if detail.characterID %}
            <tr>
                <th class="span2">Character:</th>
				<td itemprop="name">{% include 'components/text_char.html' %}</td>
            </tr>
            {% endif %}
            {% if detail.ceoID and detail.ceoName %}
            <tr>
                <th class="span2">CEO:</th>
				<td itemprop="ceo">{% include 'components/text_char.html' %}</td>
            </tr>
            {% endif %}
            {% if detail.executorCorpID and detail.executorCorpName %}
            <tr>
                <th class="span2">Executor:</th>
				<td itemprop="executor">{% include 'components/text_corp.html' %}</td>
            </tr>
            {% endif %}
            {% if detail.corporationID %}
            <tr>
                <th class="span2">Corporation:</th>
				<td itemprop="corporation">{% include 'components/text_corp.html' %}</td>
            </tr>
            {% endif %}
            {% if detail.allianceName %}
                <tr>
                    <th class="span2">Alliance:</th>
					<td itemprop="alliance">{% include 'components/text_alli.html' %}</td>
                </tr>
            {% endif %}
            {% if detail.factionName %}
                <tr>
                    <th class="span2">Faction:</th>
					<td itemprop="faction">{% include 'components/text_faction.html' %}</td>
                </tr>
            {% endif %}
            {% if detail.shipName and key != 'ship' %}
                <tr>
                  <th class="span2">Ship:</th>
                  <td itemprop="ship"><a href="/item/{{ detail.shipTypeID}}/">{{ detail.shipName }}</a></td>
                </tr>
            {% endif %}
            {% if detail.groupName and key != 'group' %}
                <tr>
                  <th class="span2">Class:</th>
                  <td itemprop="class"><a href="/group/{{ detail.groupID }}/">{{ detail.groupName }}</a></td>
                </tr>
            {% endif %}
            {% if detail.solarSystemSecurity %}
                <tr>
                  <th class="span2">Security:</th>
                  <td itemprop="security"><font color="{{ detail.systemColorCode}}">{{ detail.solarSystemSecurity|number_format(1) }}</font></td>
               </tr>
            {% endif %}
			{% if detail.systemClass %}
                <tr>
                  <th class="span2">Class:</th>
                  <td itemprop="systemclass">{{ detail.systemClass }}</td>
               </tr>
			{% endif %}
			{% if detail.systemEffect %}
                <tr>
                  <th class="span2">Effect:</th>
                  <td itemprop="effect">{{ detail.systemEffect }}</td>
               </tr>
			{% endif %}
            {% if detail.regionName %}
                <tr>
                  <th class="span2">Region:</th>
                  <td itemprop="region"><a href="/region/{{detail.regionID}}/">{{ detail.regionName }}</a></td>
               </tr>
            {% endif %}
	    	{% if detail.memberCount is defined %}
                <tr>
                  <th class="span2">Members:</th>
                  <td itemprop="members">{% if detail.memberCount == 0 %}(Closed){% else %}{{ detail.memberCount | number_format(0) }}{% endif %}</td>
               </tr>
            {% endif %}
		</tbody>
        </table>
		{% endif %}
	</div>
	<div class="pull-right">
    {% include 'components/stats_box.html' %}
	</div>
</div>
