<div class="pull-left" style="margin: 0px; width: 100%">
<h3>Summary</h3>
{% set size = detail.stats|length %}
{% if size == 0 %}
<em>No summary data available...</em>
{% else %}
{% set rows = (size // 4) + 1 %}

{% for column in 0..3 %}
    {% set indexStart = (column * rows) %}
    {% set indexEnd = (indexStart + rows) %}
    {% set count = 0 %}
    {% set displayedHeader = false %}

    {% for key,stats in detail.stats %}
        {% if (column == 3 and count >= indexStart and count < size) or (count >= indexStart and count < indexEnd and count < size) %}
    {% if not displayedHeader %}
    {% set displayedHeader = true %}
    <div class="pull-left" style="margin: 0px;">
    <table class="table table-striped table-condensed table-hover" style="margin: 0px;">
    <tbody>
     <tr>
       {% if isTablet %}
	   <th style="width: 45px;">Class</th>
	   {% else %}
	   <th style="width: 165px;">Ship Class</th>
	   {% endif %}
       <th style="width: 35px; text-align: right">Killed</th>
       <th style="width: 35px; text-align: right">Lost</th>
     </tr>
    {% endif %}
            <tr rel="tooltip" title="{{ stats.groupName }}">
            <td><font style="white-space:nowrap;"><a href="/group/{{stats.groupID}}/">{% if isTablet %}{{ shortString(stats.groupName, 8) }} {% else %} {{ shortString(stats.groupName, 30) }} {% endif %}</a></font></td>
            <td class="green" style="text-align: right;">{{ stats.destroyed|number_format(0) }}</td>
            <td class="red" style="text-align: right;">{{ stats.lost|number_format(0) }}</td>
            </tr>
        {% endif %}
        {% set count = count + 1 %}
    {% endfor %}
    {% if displayedHeader %}
    </tbody></table>
    </div>
    {% endif %}
{% endfor %}


{% endif %}
</div>
