{% extends "base.html" %}

{% set pageTitle = 'Home' %}
{% block title %}{% include 'components/title.html' %}
{% endblock %}

{% block content %}
<div class="well">
<h3>zKillboard (beta)</h3>
<p>Welcome to zKillboard - to view kills use the top menu or search.  Feel free to sign up. Please remember zKillboard is still beta!</p>
<p>zKB is a new approach to killboards using fresh ideas and modern technologies.  It's different, but it's a good different.</p>
<p>zKB gets all of the kills via API from the same API Keys being used on Eve-Kill, if you'd like to add your API to zKB please use this link (for now): <a href="/post/">Add your API</a></p>
<p>Please provide your feedback in the <a href="https://forums.eveonline.com/default.aspx?g=posts&m=2187393#post2187393" target="_blank">Eve Online Forums</a>.  Thank you!</p>
</div>

<div class="row">
{% set topTitle = 'Most Valuable Kills - Last 3 Days' %}
{% set topSet = topIsk %}
{% include 'components/big_top_list.html' %}

{% set topTitle = 'Most Valuable Pods - Last 3 Days' %}
{% set topSet = topPods %}
{% include 'components/big_top_list.html' %}

{% set topTitle = 'Top Points - Last 3 Days' %}
{% set topSet = topPoints %}
{% set showPoints = true %}
{% include 'components/big_top_list.html' %}
</div>

{% endblock %}
