{% extends "base.html" %}

{% set pageTitle = "Last Hour" %}

{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
{% set showImage = true %}

<h4>Top Killers in the Last Hour as of {{ time }}</h4>
{% set topLists = topKillers %}
{% for list in topLists %}
	{% set loopIndex = 0 %}
	{% if (loop.index -1) is divisibleby(3) %}
		<div class="row-fluid" style="margin-left:-2.5px;">
	{% endif %}
			<div class="pull-left" style="width: 320px; margin-left: 0px; padding-left: 1em;">
				<table class="table table-condensed table-striped table-hover table-bordered">
					{% if list.name is defined %}
						<caption><strong>{{ list.name }}</strong></caption>
					{% else %}
						<caption><strong>Top {{ pluralize(firstUpper(list.type)) }}</strong></caption>
					{% endif %}
					<tr>
						<th>Rank</th>
						<th style="width: 100%;">{{ firstUpper(list.type) }}</th>
						<th style="text-align: right">{% if list.ranked is defined %}{{ list.ranked}}{%else%}Kills{% endif %}</th>
					</tr>
					{% for field in list.data %}
						{% set loopIndex = loopIndex + 1 %}
						<tr>   
							<td style="text-align: right">{{loopIndex}}</td>
							<td>
								{% if list.type == "alliance" %}{% include 'components/text_alli.html' %}
								{% elseif list.type == "corporation" %}{% include 'components/text_corp.html' %}
								{% elseif list.type == "character" %}{% include 'components/text_char.html' %}
								{% elseif list.type == "weapon" %}{% include 'components/text_item.html' %}
								{% elseif list.type == "ship" %}{% include 'components/text_ship.html' %}
								{% elseif list.type == "group" %}{% include 'components/text_shipclass.html' %}
								{% elseif list.type == "faction" %}{% include 'components/text_faction.html' %}
								{% elseif list.type == "system" %}{% include 'components/text_system.html' %}
								{% elseif list.type == "region" %}{% include 'components/text_region.html' %}
								{% else %} {{ list.type }}
								{% endif %}
							</td>
							<td style="text-align: right">{{ formatIsk(field.kills, isInt) }}</td>
						</tr>
					{% endfor %}
					{% for i in 0..10 %}
						{% set loopIndex = loopIndex + 1 %}
						{% if loopIndex <= 10  %}
							<tr><td>&nbsp;</td><td>
							{% if showImage %}<div style="height: 32px"/>{% endif %}
							&nbsp;</td><td>&nbsp;</td></tr>
						{% endif %}
					{% endfor %}
				</table>
			</div>
	{% if loop.index is divisibleby(3) %}
		</div>
	{% endif %}
{% endfor %}


<hr/>
<h4>Top Losers in the Last Hour as of {{ time }}</h4>

{% set topList = topLosers %}
{% for list in topLists %}
	{% set loopIndex = 0 %}
	{% if (loop.index -1) is divisibleby(3) %}
		<div class="row-fluid" style="margin-left:-2.5px;">
	{% endif %}
			<div class="pull-left" style="width: 320px; margin-left: 0px; padding-left: 1em;">
				<table class="table table-condensed table-striped table-hover table-bordered">
					{% if list.name is defined %}
						<caption><strong>{{ list.name }}</strong></caption>
					{% else %}
						<caption><strong>Top {{ pluralize(firstUpper(list.type)) }}</strong></caption>
					{% endif %}
					<tr>
						<th>Rank</th>
						<th style="width: 100%;">{{ firstUpper(list.type) }}</th>
						<th style="text-align: right">{% if list.ranked is defined %}{{ list.ranked}}{%else%}Kills{% endif %}</th>
					</tr>
					{% for field in list.data %}
						{% set loopIndex = loopIndex + 1 %}
						<tr>   
							<td style="text-align: right">{{loopIndex}}</td>
							<td>
								{% if list.type == "alliance" %}{% include 'components/text_alli.html' %}
								{% elseif list.type == "corporation" %}{% include 'components/text_corp.html' %}
								{% elseif list.type == "character" %}{% include 'components/text_char.html' %}
								{% elseif list.type == "weapon" %}{% include 'components/text_item.html' %}
								{% elseif list.type == "ship" %}{% include 'components/text_ship.html' %}
								{% elseif list.type == "group" %}{% include 'components/text_shipclass.html' %}
								{% elseif list.type == "faction" %}{% include 'components/text_faction.html' %}
								{% elseif list.type == "system" %}{% include 'components/text_system.html' %}
								{% elseif list.type == "region" %}{% include 'components/text_region.html' %}
								{% else %} {{ list.type }}
								{% endif %}
							</td>
							<td style="text-align: right">{{ formatIsk(field.kills, isInt) }}</td>
						</tr>
					{% endfor %}
					{% for i in 0..10 %}
						{% set loopIndex = loopIndex + 1 %}
						{% if loopIndex <= 10  %}
							<tr><td>&nbsp;</td><td>
							{% if showImage %}<div style="height: 32px"/>{% endif %}
							&nbsp;</td><td>&nbsp;</td></tr>
						{% endif %}
					{% endfor %}
				</table>
			</div>
	{% if loop.index is divisibleby(3) %}
		</div>
	{% endif %}
{% endfor %}


{% endblock %}
