{% extends "base.html" %}

{% block title %}zKillboard.com / Login{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-error">
<h2>Error...</h2>
 {{ error }}
</div>
{% elseif message %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% else %}
<form class="well" name="login" method="post" action="/login/">
	<legend>Login</legend>
	<input class="span3" id="username" name="username" type="text" autofocus="true" placeholder="username"><br>
	<input class="span3" id="password" name="password" type="password" placeholder="password">
	<input id="requesturi" name="requesturi" type="hidden" value="{{ requesturi }}">
	<label class="checkbox">
		<input id="autologin" name="autologin" type="checkbox">Remember Me
	</label>
	<table class="table">
	<tbody>
		<tr>
			<th>
				<button type="submit" value="Login" class="btn btn-primary" />Login</button>
				<a class="btn btn-warning" href="/forgotpassword/">Forgot password</a>
			</th>
		</tr>
	</tbody>
	</table>
</form>
{% endif %}
{% endblock %}