{% extends "base.html" %}

{% set pageTitle = 'Live Kill Map' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
	<div id="killmap_render"></div>
	<div id="killmap_history"></div>
	<div id="killmap_controls"> <a href="#zen" title="fullscreen, sit back, and relax">Zen Mode</a> </div>
	<div class="alert alert-warning">If you cannot see the map please upgrade your browser to the latest version of chrome or firefox, and enable javascript. <br />This map uses WebGL which is not currently supported by most mobile browsers or internet explorer.</div>
{% endblock %}

{% block script %}
	{{ parent() -}}
	<script type="text/javascript" src="//{{ siteurl }}/js/three.min.js"></script>
	<script type="text/javascript" src="//{{ siteurl }}/js/stomple.js"></script>
	<script id="vertexshader" type="x-shader/x-vertex">
		attribute float size;
		attribute vec3 ca;
		varying vec3 vColor;
		void main() {  
			vColor = ca;
			vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
			gl_PointSize = size * ( 300.0 / length( mvPosition.xyz ) );
			gl_Position = projectionMatrix * mvPosition;
		}
	</script>
	<script id="fragmentshader" type="x-shader/x-fragment">
		uniform vec3 color;
		uniform sampler2D texture;
		varying vec3 vColor;
		void main() {
			gl_FragColor = vec4( color * vColor, 1.0 );
			gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );
		}
	</script>
	<script type="text/javascript" src="//{{ siteurl }}/js/starmap.js"></script>
{% endblock %}