{% extends "base.html" %}

{% set pageTitle = 'Post' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block header %}
	{% if message %}
		{% for msg in message %}
		<div class="alert fade in" data-dismiss="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ msg }}
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block content %}

<div class="pull-right span5" style="margin: 0px;">
	<h4>Killmail Post</h4>
	<p>Post a killmail from the ingame character sheet!</p>
	<form class="well" name="postkillmail" method="post" action="/post/">
		<div class="row">
			<div class="span5">
				<textarea id="killmail" name="killmail" type="text" required placeholder="Killmail" style="width: 88%;" rows="12"></textarea>
			</div>
			<button type="submit" class="btn btn-large btn-primary" style="margin-left: 30px;" >Post Mail</button>
		</div>
	</form>
	<div class="well">
		<h5>Mail Posting Guidelines:</h5>
		<ul>
			<li>Modifying killmails, are not allowed.</li>
			<li>Fake mails, even if they are ment as a joke, are not allowed.</li>
			<li>Only mails from Tranquility are allowed, any mail from anywhere else, are not.</li>
		</ul>
		<p><br>Failure to comply with these rules will result in losing your mail posting privileges.<br>In worst case, it could mean you get banned from the site.</p>
	</div>
</div>

<div class="pull-left span5" style="margin: 0px;">
	<h4>API Key Post</h4>
	<p>Post an API Key, to let the API automatically import kills for you!</p>
	<form class="well" name="addapi" method="post" action="/post/">
		<div class="row">
			<div class="span5">
				<p>To quickly create an API key, go to <a href="https://support.eveonline.com/api/Key/CreatePredefined/524544" target="_blank">https://support.eveonline.com/</a><br>(We only require KillLog, but feel free to tick off more.)<br/><em>zKillboard handles the API for Eve-Kill</em></p>
				<label>KeyID:</label>
				<input type="text" id="keyid" name="keyid" required placeholder="Key ID">
				<label>vCode:</label>
				<input type="text" id="vcode" name="vcode" required placeholder="Verification Code">
			</div>
			<button type="submit" class="btn btn-large btn-primary" style="margin-left: 30px;">Post API</button>
			<div class="span5">If you're logged in you can view your API keys <a href="/account/api/">here</a>.</div>
		</div>
	</form>
	<div class="well">
		<h4>Frequently Asked Questions</h4>
		<ul>
			<li><h5>I posted my personal API but my kills didn't show up!!! Where are they?!</h5>
				API will only post kills in which you are the final blow.  If someone else you were flying with got the final blow then they need to post their API.  However, the API will always post your losses.  Also keep in mind that personal (Character) api's only go back to the last 25 kills/losses.  Beyond that CCP doesn't provide any more history.</li>
			<li><h5>I posted a corporation API key and yet some kills are still missing.  Why?</h5>
				If a member of the corporation didn't get the final blow then your corp API won't have a record of the kill.  The corp API will return all losses by corp members.  Corporation API's only go back to the last 100 kills/losses.</li>
			<li><h5>Why can't I share my API on multiple killboards?</h5>
					One Character.  One Key.  One Killboard.<br/><br/>Unfortunately CCP doesn't have a proper caching scheme when it comes to pulling kills with their API.  If multiple killboards attempt to pull the information only the first killboard to pull will get a result, the others will get a 119 error code.  It doesn't matter if you create multiple API keys for the same character, the same problem will persist.  There is nothing we can do about this.<br/><br/>For corporations this problem is easy to get around: Use multiple directors and have them each create a key for a killboard.  For example: Bossman [CEO] could create an API key that he posts on zKB, then Bossman's Minion [Director] could create an API key to use on a personal killboard.</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block robots %}
<meta name="robots" content="nofollow">
{% endblock %}
