{% extends "base.html" %}

{% set pageTitle = '403' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<h2>403</h2>
<p>Your access to certain pages has been revoked, the reason for the revoke:</p>
<pre>{{ sessionrevokereason }}</pre>
<p>If you want to dispute this, come by IRC and have a that with us.</p>
<p>IRC: <a href="http://chat.mibbit.com/?channel=%23esc&server=irc.coldfront.net" target="_blank">http://chat.mibbit.com/?channel=%23esc&server=irc.coldfront.net</a></p>
<p>If you want to go back, click <a onClick="history.go(-1);return true;">here</a></p>

{% endblock %}
