{% extends "base.html" %}

{% set pageTitle = 'Support' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            <li class="{{ isActive('support', pageview) }}"><a href="/support/">Support</a></li>
			<li class="{{ isActive('chat', pageview) }}"><a href="/support/chat/">Live Chat</a></li>
        </ul>
    </div>
</div>

{% if pageview == "support" %}
<pre class="prettyprint">
Currently we only do support for zKB via IRC, so click on chat above, to go there.

You COULD try and contact us via twitter, by writing to @eve_kill, but this might not get you a response.
</pre>
{% elseif pageview == "chat" %}
<iframe width="100%" height="550" scrolling="no" src="https://widget.mibbit.com/?settings=ee405ecdd809a304040c4b5c9dcdfe86&server=irc.coldfront.net&channel=%23esc"></iframe>
{% endif %}
{% endblock %}

{% block robots %}
        <meta name="robots" content="nofollow">
{% endblock %}

{% block script %}
{% endblock %}