{% extends "base.html" %}

{% if type %}
    {% set pageTitle = "Top 10 " ~ firstUpper(type) %}
{% else %}
    {% set pageTitle = 'Top 10' %}
{% endif %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            <li class="{{ isActive('weekly', page) }}"><a href="/top/{{ type }}/weekly/">Weekly</a></li>
            <li class="{{ isActive('monthly', page) }}"><a href="/top/{{ type }}/monthly/">Monthly</a></li>
            <!--<li class="{{ isActive('yearly', page) }}"><a href="/top/{{ type }}/yearly/">Yearly</a></li>-->
            <!--<li class="{{ isActive('alltime', page) }}"><a href="/top/{{ type }}/alltime/">All-Time</a></li>-->
        </ul>
        <ul class="nav pull-right">
            <li><a href="#">-1 Year</a></li>
            <li><a href="#">+1 Year</a></li>
            <li><a href="#">-1 Week</a></li>
            <li><a href="#">+1 Week</a></li>
        </ul>
    </div>
</div>

{% if type %}
<h2>Top 10 - {{ firstUpper(type) }} / {{ firstUpper(page) }}</h2>
{% else %}
<h2>Top 10 - {{ firstUpper(page) }}</h2>
{% endif %}

{% set showImage = true %}
<div class="row">
	{% for list in topLists %}
		{% include 'components/top_list.html' %}
	{% endfor %}
</div>

{% endblock %}
