Information from 3rd party sites, are owned by the 3rd party site, and are made available to us (and possibly others) via APIs.
If you want access to the same information for your site, you need to contact the owner of the 3rd party.

Example of 3rd parties:
<a href="http://evewho.com/" target="_blank">EVEWho</a>
<a href="http://eveboard.com/" target="_blank">EVE-Board</a>
<a href="http://eve-search.com/" target="_blank">EVE-Search</a>
<a href="https://gate.eveonline.com/" target="_blank">EVE-Gate</a>
<a href="http://evemaps.dotlan.net/" target="_blank">DOTLAN</a>
<a href="http://www.eveskunk.com/" target="_blank">EVE Skunk</a>
<a href="http://o.smium.org/" target="_blank">Osmium</a>
<a href="http://evefit.org/" target="_blank">EVEFit</a>
<a href="http://www.eveonline.com/" target="_blank">EVE-Online</a>
<a href="http://eveeye.com/" target="_blank">EVEEye</a>
<a href="http://wormhol.es/" target="_blank">Wormhol.es</a>

Social images by <a href="http://www.pinkmoustache.net/">http://www.pinkmoustache.net/</a>

